@import 'helveticaneu.scss';
@import 'mixins/colors';

html {
    background: $bg-neutral;
}

body {
    font-family: 'HelveticaNeue';
    color: $text-primary-color;
}

.navbar.is-primary {
    background-color: $bg-primary;
}

section {
    padding: 0 !important;
}

.bg-faded {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(5%,#333),color-stop(95%,$bg-neutral));
    background-image: -webkit-linear-gradient(to right,#333 5%,$bg-neutral 95%);
    background-image: -moz- oldlinear-gradient(to right,#333 5%,$bg-neutral 95%);
    background-image: -o-linear-gradient(to right,#333 5%,$bg-neutral 95%);
    background-image: linear-gradient(to right,#333 5%,$bg-neutral 95%);
}

/* Buttons */

.button.is-info {
    background: transparent;
    border: 2px solid $primary;

    &:hover,
    &.is-hovered {
        background: #e50914;
    }
}

span.icon.info-icon {
    font-size: 1.5em;
    margin-right: 0;

    &:first-child:not(:last-child) {
        margin-right: 0px;
    }
}